@use "./variables" as variables;

.task-component {
  .MuiCardContent-root{
    padding: 16px !important;

    > div {
      align-items: center;
      display: flex;

      h6 {
        color: #455A64;
      }

      .btn-status {
        background-color: #dfe3ec;
        width: 16px;
        height: 16px;
        border-radius: 100px;
        padding: 0;

        &__icon {
          color: #43A047;
        }
      }

      .created-at {
        .MuiSvgIcon-root {
          width: 18px;
          margin-left: .5rem;
        }
      }

      .btn-delete {
        background-color: rgba(239, 154, 154, 0.2);
        opacity: 0.3;

        &__icon {
          color: variables.$error-color;
        }
      }
    }
  }

  &:hover {
    .MuiCardContent-root {
      > div {
        .btn-delete {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}
