.tasks-page {
  &-container {
    position: relative;

    > div {
      height: calc(100vh - (72px + 16px + 16px + 32px + 16px + .2rem));
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 1.5rem;
      overflow-y: auto;
    }

    .btn-add {
      &.MuiButtonBase-root {
        position: absolute;
        bottom: 0;
        right: 0;

        @media (1600px >= width) {
          right: -10rem;
        }

        @media (830px >= width) {
          right: -3.5rem;
        }

        @media (800px >= width) {
          right: 1rem;
        }

      }
    }
  }
}
